  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Cake Factory 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="webjars/jquery/3.6.0/dist/jquery.min.js"></script>
  <script type="text/javascript" src="webjars/bootstrap/4.6.1/js/bootstrap.min.js"></script>    

</body>

</html>
